.filled svg {
	fill: var(--primary);
}

.star {
	margin-right: 5px;
}

.editable {
	cursor: pointer;
}

.rating {
	position: relative;
}

.error svg {
	stroke: var(--red);
}

.errorMessage {
	position: absolute;
	bottom: -20px;
	left: 0;
	color: var(--red);
}

@media screen and (max-width: 600px) {
	.rating {
		grid-column: start / end;
	}
}
